.formBody {
  padding: 20px;
  min-height: 360px;
  background: #fff;
}
 .gutter-row {
  margin-bottom: 15px;
}
.formBody .plus,
.formBody .minus,
.formBody .question {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
.formBody .plus {
  color: green;
}
.formBody .minus {
  color: red;
}
.btnOpera {
  /* float: center; */
  position:fixed;
top:30px;
right:5px;
}
.formBody .formTable {
  margin-top: 15px;
}
.formBody .formTable th,
.formBody .formTable td {
  text-align: center !important;
}
.formBody .formTable .opera span {
  cursor: pointer;
}
th.column-money,
td.column-money {
  text-align: right !important;
}
.table{
  min-height: 600px;
  margin-top: 10px;
}

.table~div{
  text-align: center;
}
.test{
  width:300px;
  height:300px;
  margin:0 auto;
/* background:rgba(100,100,100, 0.8) */
}  
.avatar{
  /* background: #DFFFDF */
  /* text-align: center; */
  /* // padding: 50px 0;
  // line-height: 25px;
 
  // margin:0 auto;*/
  background: url("../../../public/avatar_bg.jpg") no-repeat center center/cover; 
}