.profile {
  height: 500px;
  background: #fff;
  text-align: center;
}
.profile .header {
  width: 100%;
  height: 250px;
}
.profile .header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 180px auto 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.profile .profileInfo {
  margin-top: 60px;
}
.profile .profileInfo h2 {
  text-align: center;
}
.profile .profileIntro {
  margin-top: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.profile .profileAbout {
  padding: 30px;
}
.msgContent {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}
.msgContent textarea {
  border: 0 !important;
  padding: 20px;
}
.msgContent textarea:focus {
  border-color: transparent;
}
.msgContent .msgFooter {
  padding: 12.5px 25px;
  background: #d9d9d9 !important;
  text-align: right;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.msgContent .msgFooterLeft {
  text-align: left;
  font-size: 18px;
  letter-spacing: 18px;
  color: rgba(1, 2, 3, 0.5);
}
.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
}
.custom-card h3 {
  margin: 0px;
  font-size: 20px;
  color: rgba(1, 2, 3, 0.5);
}
.custom-card h3 span {
  font-size: 12px;
  padding-left: 3px;
}
.custom-card h3 .card-like {
  float: right;
  font-size: 12px;
  padding-top: 10px;
}
.custom-card p {
  color: #999;
  margin-top: 20px;
}
