.mindex {
  minHeight: 360;
}
.mindex .avatar {
  text-align: center;
  padding: 50px 0;
  line-height: 25px;
  /* background: url("../../style/img/avatar_bg.jpg") no-repeat center center / cover; */
}
.mindex .weather {
  overflow: hidden;
  padding: 10px 0;
  width: 120px;
  margin: 0 auto;
}
.mindex .weather .weather-img {
  float: left;
}
.mindex .weather .weather-img img {
  width: 45px;
  height: 35px;
}
.mindex .weather .weather-info {
  float: left;
  line-height: 35px;
  height: 35px;
}
.mindex .pro {
  text-align: center;
  margin-top: 10px;
}
.mindex .pro p {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.mindex .pro #pro1 .ant-progress-circle-path {
  stroke: red;
  opacity: 0.6;
}
.mindex .pro #pro2 .ant-progress-circle-path {
  stroke: blue;
  opacity: 0.6;
}
.mindex .pro #pro3 .ant-progress-circle-path {
  stroke: purple;
  opacity: 0.6;
}
.mindex .timeline {
  margin-top: 22px;
}
.mindex .timeline .timeItem {
  line-height: 25px;
}
.mindex .collapse {
  margin-top: 22px;
}
.mindex .collapse .ant-collapse {
  background: #fff;
  border: 0;
}
.mindex .collapse .ant-collapse .ant-collapse-item {
  margin-bottom: 15px;
}
.mindex .collapse .ant-collapse .ant-collapse-item .ant-collapse-header {
  color: #fff;
  background: lightcoral;
  letter-spacing: 5px;
}
.mindex .collapse .ant-collapse .ant-collapse-item .ant-collapse-header .arrow {
  letter-spacing: 0;
  color: #fff;
}
.mindex .collapse .ant-collapse .ant-collapse-item .ant-collapse-content {
  padding: 10px 20px;
}
.mindex .collapse .ant-collapse .ant-collapse-item .ant-collapse-content p {
  line-height: 25px;
}
.mindex .collapse .ant-collapse .ant-collapse-item .ant-collapse-content .author {
  text-align: right;
}
.mindex .ant-table-thead > tr > th,
.mindex .ant-table-tbody > tr > td {
  text-align: center;
}
.mindex th.column-written,
.mindex td.column-written {
  text-align: left !important;
  padding-left: 5%;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}


body {
  background-color: #935d8c;
  background-image: url("http://img.netbian.com/file/20130419/b56c37a145e561a24413eb5ab2946f5b.jpg"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

body {
  color: rgba(255, 255, 255, 0.65);
}

html, body {
  height: auto;
  min-height: 100%;
}


a {
  -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit;
}
