.adminArticleListContainer {

    overflow: scroll;
}

.adminArticleListContainer h2 {
    margin: 0;
}

.adminArticleListContainer p {
    margin: 0;
}

.paginationStyle{
    margin-top: 20px;
    text-align: center;
}
.test{
    width:300px;
    height:300px;
    margin:0 auto;
  /* background:rgba(100,100,100, 0.8) */
}  