.table{
    min-height: 600px;
    margin-top: 10px;
}

.table~div{
    text-align: center;
}
.sc{
    margin: 0 auto;
}
.avatar{
    /* background: #DFFFDF */
    /* text-align: center; */
    /* // padding: 50px 0;
    // line-height: 25px;
   
    // margin:0 auto;*/
    background: url("../../../public/avatar_bg.jpg") no-repeat center center/cover; 
  }